.notification-cookie {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 0px;	
    max-width: 800px;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    padding: 6px 18px;
	margin: 10px;
    background: #fff;
    z-index: 100000;	
}

.notification-cookie-txt {
	font-size: 14px;
	padding: 8px 8px 8px 0px;
	margin: 0px;
	max-width: 680px;
}

.notification-cookie-btn {
    display: flex;
    font-size: 12px;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 28px;
    background: #DD3F45;
	color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
	margin: 6px 0px;
}

.notification-cookie-btn:hover {
    background: #BF363B;
}

.notification-cookie-link {
    color: #DD3F45;
}

.notification-cookie-link:hover {
    color: #BF363B;
}


@media (max-width: 847.98px) {
	.notification-cookie {
		max-width: 400px;
		text-align: justify;
	}
}

@media (max-width: 479.98px) {
	.notification-cookie-btn {
		width: 100%;
	}
}